/************************************
 *  header and navbar 
 ************************************/

#website-name {
  /* font-size: 2.2em; */
  /* color: #337ab7; */
}

.light-blue-bg {
  background-color: #d9edf7;
}

/************************************
 *  main 
 ************************************/

.electron-shell {
  max-width: 150px;
  margin: 0 auto;
  display: block;
}

/************************************
 *  index.html
 ************************************/

.elements section {
  text-align: center;
}

/************************************
 *  bootstrap-table.html 
 ************************************/

table img {
  max-width: 50px;
}

/************************************
 *  bootstrap-tabs.html 
 ************************************/

.elements-tabs section {
  margin-bottom: 1em;
  margin-top: 1em;
}

.elements-tabs img {
  padding-right: 1em;
}
